:root {
  --r-spacing-0: 0px;
  --r-spacing-1: 1px;
  --r-spacing-5: 2px;
  --r-spacing-10: 4px;
  --r-spacing-15: 6px;
  --r-spacing-20: 8px;
  --r-spacing-25: 10px;
  --r-spacing-30: 12px;
  --r-spacing-35: 14px;
  --r-spacing-40: 16px;
  --r-spacing-50: 20px;
  --r-spacing-60: 24px;
  --r-spacing-70: 28px;
  --r-spacing-80: 32px;
  --r-spacing-90: 36px;
  --r-spacing-100: 40px;
  --r-spacing-110: 44px;
  --r-spacing-120: 48px;
  --r-spacing-140: 56px;
  --r-spacing-160: 64px;
  --r-spacing-200: 80px;
  --r-spacing-240: 96px;
  --r-spacing-280: 112px;
  --r-spacing-320: 128px;
}